[user]
	name = Stefan Utamaru
	email = github.le5ke@stenyan.jp
[core]
	editor = hx
	excludesfile = ~/.gitignore_global
	autocrlf = input
	safecrlf = true
[push]
	default = simple
[url "git@github.com:"]
	pushinsteadof = "git://github.com/"
	pushinsteadof = "https://github.com/"
[ghq]
	root = ~/dev/src 
[pull]
	rebase = false
	ff = only
[merge]
	ff = false
[alias]
	fetch-pulls = fetch origin +refs/pull/*:refs/remotes/pull/*
	st = status
	ci = commit
	co = checkout
	br = branch
[color]
	diff = auto
	status = auto
	branch = auto
	interaction = auto
	grep = auto
